<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<link rel="stylesheet" href="stylesheets/twitter_core.bundle.css">
<link rel="stylesheet" href="stylesheets/twitter_more_1.bundle.css">
<link rel="stylesheet" href="stylesheets/twitter_more_2.bundle.css">

<title>Twitter</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script
  src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<link rel="mask-icon" sizes="any" href="https://abs.twimg.com/a/1457681967/img/t1/favicon.svg" color="#55acee">
<link href="https://abs.twimg.com/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">
 <script src="angularjs/signin.js"></script>


</head>

<body>

<div class="StreamsTopBar-container StreamsTopBar-container--withStreamHero StreamsTopBar-container--withTallHeader">
<div class="StreamsTopBar StreamsTopBar--fixed js-variableHeightTopBar">
<div class="StreamsHero">
<div class="StreamsHero-image" style="background-image: url(images/landing-page-header.png);"></div>
<div class="StreamsHero-buttonContainer">
	<a href="/">
	<img src="images/icon-white.png" height="32" width="40">
	</a>
	<a class="Button StreamsSignUp" href="/signup">Sign up</a>
	<a class="Button StreamsLogin" href="/signin">Log In</a>
</div>
<div class="StreamsHero-content">
<h2 class="StreamsHero-header">See what’s happening right now.</h2>
<p class="StreamsHero-blurb">Find community,conversation and inspiration about the things you love.</p>
</div>
</div>
<div style="text-align: center"> 
<img src="images/icon.png" class="tweet-img" style="margin-top: 2px">
</div>
</div>











<div id="login-dialog" class="LoginDialog modal-container u-textCenter modal">
  <div class="close-modal-background-target"></div>
  <div class="modal modal-large draggable">
    <div class="LoginDialog-content modal-content">
      <button type="button" class="modal-btn modal-close js-close">
  <span class="Icon Icon--close Icon--medium">
    <span class="visuallyhidden">Close</span>
  </span>
</button>

      <div class="modal-header">
        <h3 class="modal-title">Log in to Twitter</h3>
      </div>
      <div class="LoginDialog-body modal-body">
        <div class="LoginDialog-bird">
          <span class="Icon Icon--bird Icon--large"></span>
        </div>
        <div class="LoginDialog-form">
<form action="https://twitter.com/sessions" class="LoginForm js-front-signin" method="post" data-component="dialog" data-element="login">
  <div class="LoginForm-input LoginForm-username">
    <input type="text" class="text-input email-input js-signin-email" name="session[username_or_email]" autocomplete="username" placeholder="Phone, email or username">
  </div>

  <div class="LoginForm-input LoginForm-password">
    <input type="password" class="text-input" name="session[password]" placeholder="Password" autocomplete="current-password">
  </div>

  <div class="LoginForm-rememberForgot">
    <label>
      <input type="checkbox" value="1" name="remember_me" checked="checked">
      <span>Remember me</span>
    </label>
    <span class="separator">·</span>
    <a class="forgot" href="https://twitter.com/account/begin_password_reset">Forgot password?</a>
  </div>

  <input type="submit" class="submit btn primary-btn js-submit" value="Log in">

    <input type="hidden" name="return_to_ssl" value="true">

  <input type="hidden" name="scribe_log">
  <input type="hidden" name="redirect_after_login" value="/">
  <input type="hidden" value="f62af2b1165ade323bec370be3285c2b9b76533f" name="authenticity_token">
      <input type="hidden" value="" name="ui_metrics" autocomplete="off">
      <input type="hidden" id="ui_metrics_seed" name="ui_metrics_seed" value="1457752286741" autocomplete="off">
      <input type="hidden" value="1" name="js_inst" autocomplete="off">
      <script src="./Twitter_files/js_inst" async=""></script>
</form>
        </div>
      </div>
      <div class="LoginDialog-footer modal-footer u-textCenter">
        Don't have an account? <a class="LoginDialog-signupLink" href="https://twitter.com/signup">Sign up »</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>


