<!DOCTYPE html>
<!-- saved from url=(0026)https://twitter.com/signup -->
<html lang="en" ng-app="users">
<!--<![endif]-->
<head>
        
    <link href="stylesheets/style.css" rel="stylesheet">    
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="stylesheets/twitter_core.bundle.css" rel="stylesheet">
    <link href="stylesheets/twitter_more_1.bundle.css" rel="stylesheet">
    <link href="stylesheets/twitter_more_2.bundle.css" rel="stylesheet">
    <link href="stylesheets/t1_signup.bundle.css" rel="stylesheet">
    
    

    <link as="script" href="./Sign up for Twitter_files/boot.fd31af7889f8ed2508a9e56805dbd13fd82469d1.js" rel="preload">
    <title>Sign up for Twitter</title>
    
    <link href="https://abs.twimg.com/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="angularjs/signup.js"></script>
    
</head>
<body class="three-col logged-out ms-windows phx-signup fast-signup" ng-controller="signUpController">
    <div class="route-signup" id="doc">
        
            <div class="top-nav-signup">
              <div class="icon-bird"></div>
            </div>
        
        <div id="page-outer">
            <div class="AppContent wrapper wrapper-signup" id="page-container">
            <div style="text-align: center"> 
                    <img src="images/icon.png" style="margin-top: 2px" class="tweet-img">
                </div>
                <div class="page-canvas">
                    <div class="signup-wrapper" >
                        <div ng-hide="hideSignUp1">
                        <h1 style="text-align: center;">Join Twitter today.</h1>
                        <div action="" class="t1-form signup" id="phx-signup-form" name="phx-signup-form">
                            <div class="textbox">
                                <div class="prompt name">
                                  
                                    <div class="field">
                                        <div class="sidetip">
                                            <p class="ok isaok">&nbsp;</p>
                                            <p class="blank invalid error" role="alert">What's your name?</p>
                                        </div><input aria-required="true" autocomplete="off" class="" id="full-name" maxlength="20" name="user[name]" placeholder="Full name" type=
                                        "text" value="" ng-model="fullName">
                                        </div>
                                    </div>
                                <div class="prompt email">
                                    <div class="field">
                                        <div class="sidetip">
                                            <p class="ok isaok">&nbsp;</p>
                                            <p class="invalid error" role="alert">Please enter a valid email.</p>
                                            <p class="taken error" role="alert">This email is already registered. Want to <a href="/login">login</a> or <a href="password_reset">recover your password</a>?</p>
                                        </div><input aria-required="true" autocomplete="off" class="email-input" placeholder="Email" type="text" value="" ng-model="emailId">
                                        
                                    </div>
                                </div>
                                <div class="prompt password">
                                    <div class="field" data-fieldname="password">
                                        <div class="sidetip">
                                            <p class="ok isaok perfect weak">&nbsp;</p>
                                            <p class="weak error" role="alert">Please enter a stronger password.</p>
                                            <p class="obvious error" role="alert">Please enter a stronger password.</p>
                                            <p class="invalid error" role="alert">Your password must be at least 6 characters.</p>
                                            <p class="blank error" role="alert">Please enter a password.</p>
                                        </div><input aria-required="true" placeholder="Password" type="password" value="" ng-model="password">
                                    </div>
                                    <div class="score">
                                        <span><b class="fill"></b></span>
                                    </div>
                                </div>
                                
                            <div class="standby">
                                <p>Creating your account…</p>
                            </div>
                            <div class="doit">
                                <div class="sign-up-box">
                                    <button class="button-signup-main" ng-click="doSignUp()">Sign Up</button>
                                </div>
                            </div>
                          </div>
                    </div>
                    </div>

                    <div ng-hide="hideSignUp2">
                        <h1 style="text-align: center;">Enter your phone.</h1>
                        <div action="" class="t1-form signup" id="phx-signup-form" name="phx-signup-form">
                            <div class="textbox">
                                <div class="prompt name">

                                    <div class="field">
                                        <div class="sidetip">
                                            <p class="ok isaok">&nbsp;</p>
                                            <p class="blank invalid error" role="alert"></p>
                                        </div><input aria-required="true" autocomplete="off" class="" id="full-name" maxlength="20" \ placeholder="City" type="text" value="" ng-model="city">
                                      </div>
                                </div>  

                             <div class="prompt name">

                                    <div class="field">
                                        <div class="sidetip">
                                            <p class="ok isaok">&nbsp;</p>
                                            <p class="blank invalid error" role="alert"></p>
                                        </div><input aria-required="true" autocomplete="off" class="" id="full-name" maxlength="20" \ placeholder="Phone No   " type="text" value="" ng-model="phoneNo">
                                      </div>
                                </div> 
                                
                            <div class="standby">
                                <p>Creating your account…</p>
                            </div>
                            <div class="doit">
                                <div class="sign-up-box">
                                    <button class="button-signup-main" ng-click="doRegisterPhone()">Next</button>
                                </div>
                            </div>
                          </div>
                    </div>
                    </div>

                           <div ng-hide="hideSignUp3">
                                <h1 style="text-align:center;">Choose a username.</h1>
                                <div action="" class="t1-form signup" id="phx-signup-form" name="phx-signup-form">
                                <div class="textbox">
                                <div class="invite-landing-desc">
                                    This will be called your twitter handle.
                                </div>

                                    <div class="prompt select-username">
                                    <div ng-hide = "duplicateUsername"><p class="" role="alert" style="margin-bottom: 15px;color:red; text-align: center;">This username is already taken!</p></div>
                                      <div class="field" data-fieldname="username">
                                        <div class="sidetip">
                                          <p class="ok isaok">&nbsp;</p>
                                          <p class="checking">Validating...</p>
                                          <p class="taken error" role="alert">This username is already taken!</p>
                                          <p class="invalid error" role="alert">Your username can only contain letters, numbers and '_'</p>
                                          <p class="blank error" role="alert">Please create a username.<br>You can change it later.</p>
                                      </div>
                                      <input id="username" type="text" autocomplete="off" value="" data-pre-input-value="" name="user[screen_name]" maxlength="15" aria-required="true" placeholder="Username" ng-model="username">
                                  </div>
                                  </div>
                                </div>
                                    <div class="standby">
                                        <p>Creating your account…</p>
                                    </div>
                                    <div class="doit">
                                        <div class="sign-up-box">
                                            <button class="button-signup-main" ng-click="doRegisterUsername()">Done</button>
                                        </div>
                                    </div>

                                </div>  

                            </div>   
                </div>
            </div>
        </div>
    </div>
</body>
</html>