<!DOCTYPE html>
<!-- saved from url=(0026)https://twitter.com/signup -->
<html data-scribe-reduced-action-queue="true" lang="en">
<!--<![endif]-->
<head>
        
    <link href="stylesheets/style.css" rel="stylesheet">    
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="stylesheets/twitter_core.bundle.css" rel="stylesheet">
    <link href="stylesheets/twitter_more_1.bundle.css" rel="stylesheet">
    <link href="stylesheets/twitter_more_2.bundle.css" rel="stylesheet">
    <link href="stylesheets/t1_signup.bundle.css" rel="stylesheet">

    <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script
  src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    
    <script src="angularjs/signin.js"></script>

    <link as="script" href="./Sign up for Twitter_files/boot.fd31af7889f8ed2508a9e56805dbd13fd82469d1.js" rel="preload">
    <title>Login for Twitter</title>
    
    <link href="https://abs.twimg.com/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">
   <style type="text/css">
p {
    margin: 0;
    color: #66757f;
    font-size: 14px;
    line-height: 18px;
}


   </style>

</head>
<body class="three-col logged-out ms-windows phx-signup fast-signup" ng-app="signin" ng-controller="signin">
    <div class="route-signup" id="doc">
        
            <div class="top-nav-signup">
             
            </div>
        
        <div id="page-outer">
            <div class="AppContent wrapper wrapper-signup" id="page-container">
                <link href="./Sign up for Twitter_files/t1_signup.bundle.css" rel="stylesheet">
                <div class="page-canvas">
                <div style="text-align: center"> 
                    <img src="images/icon.png" style="margin-top: 2px">
                </div>
                    <div class="signup-wrapper">
                        <h1 style="text-align: center">Log in to Twitter.</h1>
                        <div action="" class="t1-form signup" id="phx-signup-form" name="phx-signup-form">
                            <div class="textbox">
                                <div class="prompt name">
                                    <div class="field">
                                        
                                          
                                            <div ng-hide = "invalid_login"><p class="" role="alert" style="margin-bottom: 15px;color:red; text-align: center;">The username and password do not match</p></div>
                                       <input aria-required="true" autocomplete="off" class="" id="full-name" name="username" ng-model="username"placeholder="Username" type=
                                        "text" value="">
                                        </div>
                                    </div>
                                <div class="prompt password">
                                    <div class="field" data-fieldname="password">
                                    <input aria-required="true" placeholder="Password" type="password" ng-model="password">
                                    </div>
                                    <div class="score">
                                        <span><b class="fill"></b></span>
                                    </div>
                                </div>
                                
                            <div class="standby">
                                <p>Creating your account…</p>
                            </div>
                            <div class="doit">
                                <div class="sign-up-box">
                                    <button class="button-signup-main" ng-click="login()">Login</button>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>